@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-general: "Arial", sans-serif;
  --font-anton: "anton", serif;
}

body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: #c5c5d3;
  font-family: var(--font-general), sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .flex-row-center {
    @apply flex justify-center items-center;
  }

  .hero-header {
    @apply uppercase font-anton font-black text-5xl sm:text-5xl md:text-7xl lg:text-8xl tracking-wide;
  }

  .subtext {
    @apply absolute bottom-[-80dvh] left-1/2 w-full max-w-96 -translate-x-1/2 text-center font-circular-web text-lg md:max-w-[34rem];
  }

  .sliding-image {
    @apply absolute left-1/2 top-0 z-[1] h-[60vh] w-96 origin-center -translate-x-1/2 overflow-hidden rounded-3xl md:w-[30vw];
  }

  .projects-cards {
    @apply relative col-span-1 h-[45vh] row-span-1 overflow-hidden rounded-md transition-transform duration-300 ease-out;
  }

  .projects-title {
    @apply uppercase md:text-6xl text-4xl font-anton font-black;
  }
}

@keyframes glitch-color {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-5px, 5px);
  }
}

.animate-glitch-color {
  animation: glitch-color 0.5s infinite alternate;
}

@keyframes glitch-main {
  0% {
    transform: translate(0, 0) skew(0deg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  5% {
    transform: translate(-5px, 5px) skew(-5deg);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
  }
  10% {
    transform: translate(5px, -5px) skew(5deg);
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  }
  15% {
    transform: translate(0, 0) skew(0deg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes glitch-sub {
  0% {
    transform: translate(0, 0) skew(0deg);
    opacity: 0.8;
  }
  10% {
    transform: translate(10px, -10px) skew(5deg);
    opacity: 0.6;
  }
  20% {
    transform: translate(-10px, 10px) skew(-4deg);
    opacity: 0.4;
  }
  30% {
    transform: translate(0, 0) skew(0deg);
    opacity: 0.8;
  }
}

.animate-glitch-main {
  animation: glitch-main 0.3s infinite alternate;
}

.animate-glitch-sub {
  animation: glitch-sub 0.3s infinite alternate;
}
